window {
    margin: 0px;
    border: 2px solid #ffcc00;
    background-color: rgba(30, 20, 0, 0.95);
    border-radius: 10px;
    font-family: "JetBrains Mono Nerd Font";
    font-size: 16px;
}

#input {
    margin: 5px;
    border: none;
    background-color: #664400;
    color: #ffffff;
    border-radius: 5px;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #ffffff;
}

#entry:selected {
    background-color: #ffcc00;
    color: #332200;
    border-radius: 5px;
}
